.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 42px;
  padding: 0 10px;
  border-radius: var(--radius-md);
  transition: border-color var(--transition-fast);
  border: 1px solid var(--input-border);
  background: var(--input-bg);

  &:focus-within {
    border: 2px solid var(--input-border-focus);
  }

  &.disabled {
    background: var(--input-bg-disabled);
  }

  svg {
    color: var(--input-placeholder);
  }
}

/* DARK THEME */

.dark {
  background: var(--input-dark-bg);
  border-color: var(--input-dark-border);

  &:focus-within {
    border-color: var(--input-dark-border-focus);
  }

  &.disabled {
    background: var(--input-dark-bg-disabled);
  }

  svg {
    color: var(--input-dark-placeholder);
  }
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--font-size-md);
  line-height: 1.2;
  color: var(--input-text);

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.dark .input {
  color: var(--input-dark-text);

  &::placeholder {
    color: var(--input-dark-placeholder);
  }
}
