.wrapper {
  padding: var(--top-margin) 0 48px;
}

.heading {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-main);
  margin-bottom: 12px;
}

.text {
  color: var(--color-text-secondary);
  margin-bottom: 24px;
}
