@use '@/app/styles/globals' as *;

.wrapper {
  padding: var(--top-margin) 0;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text-main);
  margin-bottom: 32px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}

/* LEFT */
.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 24px;
}

@media (max-width: $tablet) {
  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .right {
    text-align: left;
  }
}
