$desktop: 1280px;
$tablet: 1024px;
$mobile: 768px;
$mobile-sm: 640px;

.wrapper {
  position: relative;
}

.container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    flex: 0 0 100%;
  }

  @media (min-width: $mobile) {
    > * {
      flex: 0 0 calc((100% - 16px) / 2);
    }
  }

  @media (min-width: $tablet) {
    > * {
      flex: 0 0 calc((100% - 2 * 16px) / 3);
    }
  }

  @media (min-width: $desktop) {
    > * {
      flex: 0 0 calc((100% - 3 * 16px) / 4);
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  width: 40px;
  height: 40px;
}

.left {
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  left: -20px;
}

.right {
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  right: -20px;
}
