.wrapper {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 420px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

.actions {
  padding: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
