@use '@/app/styles/globals' as *;

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-main);
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratingValue {
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

.price {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.oldPrice {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-secondary);
  text-decoration: line-through;
}

.unit {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-secondary);
}

.attributes {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.quantity {
  h2 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
  }

  padding-top: 16px;
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.qtyControls {
  display: flex;
  gap: 8px;

  :global(input) {
    width: 70px;
    text-align: center;
  }
}

.actionBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
  }

  p {
    color: var(--color-text-secondary);
    line-height: 1.6;
  }
}

@media (max-width: $mobile-sm) {
  .attributes {
    flex-direction: column;
  }
}
