@use '@/app/styles/globals' as *;

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

.filtersShow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media (max-width: $mobile) {
  .wrapper {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
}
